[Unit]
Description=Billiardo FastAPI Service
After=network.target

[Service]
Type=simple
User=lenovo
WorkingDirectory=/home/lenovo/Workspace/Billiardo-ELSHEIKH
Environment="PATH=/home/lenovo/Workspace/Billiardo-ELSHEIKH/venv/bin"
ExecStart=/home/lenovo/Workspace/Billiardo-ELSHEIKH/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --workers 2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
